.full{
    margin-top: 500px;
}
.news-letter{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
}

.news-letter h1{
   color: black;
   font-size: 50px;
   font-weight: 600;
}
.news-letter p{
 color: black;
 font-size: 20px;
}
.news-letter div{
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
   border-radius: 80px;
   border: 1px solid #e3e3e3; 
}
.news-letter input{
    width: 500px;

    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: poppins;
    font-size: 16px;
    
}
.news-letter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}